@import url('https://fonts.googleapis.com/css?family=Bungee|Roboto+Slab&display=swap');

body {
	min-height: 100vh;
	width: 100vw;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin: 0;
	background-color: #2E4057;
	font-family: 'Roboto Slab', serif;
	cursor: pointer;
	overflow-x: hidden;
}
h1 {
	color: #CAFFB9;
	font-family: 'Bungee',sans-serif;
	font-weight: 100;
	font-size: 3.3rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: 0.3s;
}
h1:hover {
	color: #66A182;
	transform: scale(1.1);
}
input, button {
	/*margin-top: -60px;*/
	border: 4px solid #66A182;
	padding: 2px 10px;
	text-align: center;
	color: #66A182;
	background-color: transparent;
	font-family: 'Bungee',sans-serif;
	font-size: 1.2rem;
	width: 300px;
	box-sizing: border-box;
	margin: 10px;
	transition: 0.3s;
	cursor: pointer;
	outline: 0;
}
input:hover, button:hover{
	transform: scale(1.1);
	color: #2E4057;
	background-color: #66A182;
}
input:focus {
	color: #66A182;
	background-color: transparent;
	transform: scale(1.1);
}
button:active {
	transform: scale(0.9);
}
ul.matcher {
	list-style: none;
	padding: 0;
	margin: 0;
}
li.match {
	padding: 10px;
	color: #66A182;
	font-family: 'Bungee',sans-serif;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	transition: 0.3s;
}
li.match:hover {
	transform: scale(1.1);
}
span.deltagare {
	color: #D2CCA1;
	padding: 0 10px;
	font-size: 2rem;
}
span.deltagare.banned {
	color: #D1462F;
}
.settings {
	margin: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.banmode{
	border-color: #D1462F;
	color: #D1462F;
}
.banmode:hover, .banmode.active{
	background-color: #D1462F;
	color: #333;
}